section {
  margin: 0 0 75px 0;
}

.wrapper * {
  text-align: left;
}

.wrapper {
  align-items: start;
}

.wrapper > h1 {
  text-align: left;
}

.wrapper > p {
  font-size: 18px;
  text-align: left;
  padding-inline: 0;
  margin: 0;
}
